---
layout: index.njk
title: recs
override:tags: []
description: >-
  recommendations.
  things that i just like.
  things that i think are good.
  things that i'd like others to know about.
---
<article class="recs-list">
  <h1>re<br/>cs&nbsp;</h1>
  <section class="content">
  {%- for month, recs in collections.recsByMonth %}
    <section class="month">
      <h2>{{ month }}</h2>
      <ul>
      {%- for rec in recs %}
        <li>
          <span class="number">{{ rec.data.number | shortNumber }}</span>
          <article class="rec">
            <h3>
              <a href="{{ rec.data.url }}" target="_blank" rel="noopener noreferrer">{{ rec.data.title }}</a>
              <span class="date">;; {{ rec.page.date | shortDate }}</span>
            </h3>
            {% if rec.data.imageUrl %}<a href="{{ rec.data.url }}" target="_blank" rel="noopener noreferrer" tabindex="-1"><img src="{{ rec.data.imageUrl }}" alt="" /></a>{% endif %}
            {{ rec.content | safeLinks | safe }}
          </article>
        </li>
      {%- endfor %}
      </ul>
    </section>
  {%- endfor %}
  </section>
</article>