---
siteName: causti · co
---
<!DOCTYPE html>
<html lang="en">
  <head prefix="og: https://ogp.me/ns#">
    <meta charset="utf-8" />
    <title>{{ siteName }}{% if title %} — {{ title }}{% endif %}</title>
    <link rel="stylesheet" href="/assets/styles/main.css" />
    <link rel="icon" href="/assets/icons/favicon.png" sizes="48x48" />
    <link rel="icon" href="/assets/icons/favicon.svg" sizes="any" />
    <link rel="canonical" href="https://causti.co{{ page.url }}" />
    <meta name="referrer" content="strict-origin-when-cross-origin" />
    <meta name="author" content="Martín Valdés de León" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    {#- <meta name="description" content="" /> -#}
    {#- <meta name="viewport" content="width=device-width" /> #}
    <meta property="og:site_name" content="{{ siteName }}" />
    <meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ siteName }}{% endif %}" />
    {#- <meta property="og:description" content="" /> #}
    <meta property="og:type" content="{{ og.type }}" />
    <meta property="og:url" content="https://causti.co{{ page.url }}" />
    {#- Ideally og.image is driven by the data cascade. However, I did not find a way to set data based on `collections`. #}
    {#- To support using the last photo as og.image, we make it the default here. #}
    {%- set photo = collections.photo | last -%}
    {%- set largest = photo.data.responsive | last %}
    <meta property="og:image" content="https://causti.co{% if og.image.url %}{{ og.image.url }}{% else %}{{ largest.url}}{% endif %}" />
    <meta property="og:image:type" content="{% if og.image.type %}{{ og.image.type }}{% else %}{{ largest.sourceType }}{% endif %}" />
    <meta property="og:image:width" content="{% if og.image.width %}{{ og.image.width }}{% else %}{{ largest.width }}{% endif %}" />
    <meta property="og:image:height" content="{% if og.image.height %}{{ og.image.height }}{% else %}{{ largest.height }}{% endif %}" />
    <meta property="og:image:alt" content="{% if og.image.alt %}{{ og.image.alt }}{% else %}{{ photo.data.alt }}{% endif %}" />
  </head>
  <body>
    <header>
      <h1><a href="/" tabindex="-1">causti <img class="dot" src="/assets/images/causti.co.svg" alt="·" /> co</a></h1>
    </header>
    <main>
      {{ content | safe | indent(6) }}
    </main>
    <footer>
      <nav>
        <ul>
          <li><div class="button{% if page.url == "/" %} here{% endif %}"><a href="/">home</a></div></li>
          <li><div class="button{% if page.url == "/text/" %} here{% endif %}"><a href="/text/">text</a></div></li>
          <li><div class="button{% if page.url == "/photo/" %} here{% endif %}"><a href="/photo/">photo</a></div></li>
          <li><div class="button{% if page.url == "/recs/" %} here{% endif %}"><a href="/recs/">recs</a></div></li>
          <li><div class="button{% if page.url == "/about/" %} here{% endif %}"><a href="/about/">about</a></div></li>
        </ul>
      </nav>
      <div class="content">
        <p class="cc" xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
          <a property="dct:title" rel="cc:attributionURL" href="https://causti.co/">{{ siteName }}</a> © 2024 by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://twitter.com/mvaldesdeleon">Martín Valdés de León</a>, is licensed under <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-NC-ND 4.0<img class="icon" src="/assets/images/cc/cc.svg" alt="CC"><img class="icon" src="/assets/images/cc/by.svg" alt="BY"><img class="icon" src="/assets/images/cc/nc.svg" alt="NC"><img class="icon" src="/assets/images/cc/nd.svg" alt="ND"></a></p>
      </div>
    </footer>
  </body>
</html>