---
siteName: causti • co
generalDescription: >-
  a personal website by Martín Valdés de León.
  read some texts.
  enjoy the photos.
  pick something you like from the recommendations list.
og:
  type: website
---
<!DOCTYPE html>
<html lang="en">
  <head prefix="og: https://ogp.me/ns#">
    <meta charset="utf-8" />
    <title>{{ siteName }}{% if title %} — {{ title }}{% endif %}</title>
    <link rel="stylesheet" href="/assets/styles/main.css" />
    <link rel="icon" href="/assets/icons/favicon.png" sizes="48x48" />
    <link rel="icon" href="/assets/icons/favicon.svg" sizes="any" />
    <link rel="canonical" href="https://causti.co{{ page.url }}" />
    <meta name="referrer" content="strict-origin-when-cross-origin" />
    <meta name="author" content="Martín Valdés de León" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <meta name="description" content="{{ description or generalDescription }}" />
    {#- <meta name="viewport" content="width=device-width" /> #}
    <meta property="og:site_name" content="{{ siteName }}" />
    <meta property="og:title" content="{{ title or siteName }}" />
    <meta property="og:description" content="{{ description or generalDescription }}" />
    <meta property="og:type" content="{{ og.type }}" />
    <meta property="og:url" content="https://causti.co{{ page.url }}" />
    {#- Ideally og.image is driven by the data cascade. However, I did not find a way to set data based on `collections`. #}
    {#- To support using the last photo as og.image, we make it the default here. #}
    {%- set photo = collections.photo | last -%}
    {%- set largest = photo.data.responsive | last %}
    <meta property="og:image" content="https://causti.co{{ og.image.url or largest.url }}" />
    <meta property="og:image:type" content="{{ og.image.type or largest.sourceType }}" />
    <meta property="og:image:width" content="{{ og.image.width or largest.width }}" />
    <meta property="og:image:height" content="{{ og.image.height or largest.height }}" />
    <meta property="og:image:alt" content="{{ og.image.alt or photo.data.alt }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@mvaldesdeleon" />
    <meta name="twitter:creator" content="@mvaldesdeleon" />
    {%- if og.type === "article" %}
    <meta name="article:published_time" content="{{ date.toISOString() }}" />
    {#- <meta name="article:modified_time" content="{{ date.toISOString() }}" /> #}
    <meta name="article:author" content="Martín Valdés de León" />
    {#- <meta name="article:section" content="text" /> #}
    {%- for keyword in keywords %}
    <meta name="article:tag" content="{{ keyword }}" />
    {%- endfor %}
    {%- endif %}
  </head>
  <body>
    <header>
      <h1><a href="/" tabindex="-1">causti </a><a href="#egg" tabindex="-1"><img class="dot" src="/assets/images/causti.co.svg" alt="·" /></a><a href="/" tabindex="-1"> co</a></h1>
      <div id="egg">
        {% include "palette.njk" %}
      </div>
    </header>
    <main>
      {{ content | betterIndent(6) | safe }}
    </main>
    <footer>
      {%- if experimental %}
      {%- if history %}
      <div id="git">
        <a class="open" href="#git">
          <img src="/assets/images/git.svg" alt="Git"/>
          <img class="selected" src="/assets/images/git.white.svg" alt="Git"/>
        </a>
        <a class="close" href="#">
          <img class="selected" src="/assets/images/git.white.svg" alt="Git"/>
        </a>
        <div class="content">
          <a href="https://github.com/causti-co/website/blob/main/{{ page.inputPath.slice(1) }}" target="_blank" rel="noopener noreferrer">src</a> <a href="https://github.com/causti-co/website/edit/main/{{ page.inputPath.slice(1) }}" target="_blank" rel="noopener noreferrer">edit</a>
          <ul>
            {%- for commit in history %}
            <li>{{commit.subject }} {{ commit.date | shortDate}} <a href="https://github.com/causti-co/website/commit/{{commit.hash}}" target="_blank" rel="noopener noreferrer">{{commit.shortHash}}</a></li>
            {%- endfor %}
          </ul>
        </div>
      </div>
      {%- endif %}
      {%- endif %}
      <nav>
        <ul>
          <li><div class="button{% if page.url == "/" %} here{% endif %}"><a href="/">home</a></div></li>
          <li><div class="button{% if page.url == "/text/" %} here{% endif %}"><a href="/text/">text</a></div></li>
          <li><div class="button{% if page.url == "/photo/" %} here{% endif %}"><a href="/photo/">photo</a></div></li>
          <li><div class="button{% if page.url == "/recs/" %} here{% endif %}"><a href="/recs/">recs</a></div></li>
          <li><div class="button{% if page.url == "/about/" %} here{% endif %}"><a href="/about/">about</a></div></li>
        </ul>
      </nav>
      <div class="content">
        <p class="cc" xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
          <a property="dct:title" rel="cc:attributionURL" href="https://causti.co/">{{ siteName }}</a> © 2024 by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://twitter.com/mvaldesdeleon">Martín Valdés de León</a>, is licensed under <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-NC-ND 4.0<img class="icon" src="/assets/images/cc/cc.svg" alt="CC"><img class="icon" src="/assets/images/cc/by.svg" alt="BY"><img class="icon" src="/assets/images/cc/nc.svg" alt="NC"><img class="icon" src="/assets/images/cc/nd.svg" alt="ND"></a></p>
      </div>
    </footer>
  </body>
</html>