<div id="palette">
  <ul>
    <li class="white"></li>
    <li class="whitesmoke"></li>
    <li class="gainsboro"></li>
    <li class="lightgray"></li>
    <li class="silver"></li>
    <li class="darkgray"></li>
    <li class="gray"></li>
    <li class="dimgray"></li>
    <li class="black"></li>
    <li class="break"></li>
    <li class="orange"></li>
    <li class="darkorange"></li>
    <li class="tomato"></li>
    <li class="orangered"></li>
    <li class="red"></li>
    <li class="crimson"></li>
    <li class="darkred"></li>
    <li class="maroon"></li>
    <li class="deeppink"></li>
    <li class="hotpink"></li>
  </ul>
</div>