{#- Apparently you can't indent includes, so yeah... -#}
<div class="palette">
          <ul>
            <li class="white"></li>
            <li class="gray-05"></li>
            <li class="gray-10"></li>
            <li class="gray-15"></li>
            <li class="gray-20"></li>
            <li class="gray-25"></li>
            <li class="gray-30"></li>
            <li class="accent-light"></li>
            <li class="accent-secondary"></li>
            <li class="break"></li>
            <li class="gray-40"></li>
            <li class="gray-50"></li>
            <li class="gray-60"></li>
            <li class="gray-70"></li>
            <li class="gray-80"></li>
            <li class="gray-90"></li>
            <li class="black"></li>
            <li class="accent-dark"></li>
            <li class="void"></li>
          </ul>
        </div>