---
layout: index.njk
---
<article class="photo">
  <h1>
    <span class="small">{{ page.date | shortDate }}&nbsp;&nbsp;</span>&nbsp;pho<br/>
    <span class="small">{{ number | shortNumber }}</span>&nbsp;&nbsp;to
  </h1>
  <section class="content">
    <article class="photo">
      <div class="card">
        <div class="card-content">
          <a class="full-screen" href="#full-screen">↗</a>
          {#- calc(100vw - 160px - 8px - 2px - 8px - 180px - 8px - 2px) #}
          {% image responsive, alt, "calc(100vw - 368px)" %}
          <h3>{{ title }}</h3>
          {{ content | safeLinks | betterIndent(10) | safe }}
          <div class="details">
            <span class="camera">{{ exif.make | capitalize }} {{ exif.model }}</span>
            <span class="specs">
              {{ exif.focalLength or "?? mm" }}&nbsp;&nbsp;&nbsp;
              <i>f</i>/{{ exif.fstop or "??" }}&nbsp;&nbsp;&nbsp;
              {{ exif.exposure or "1/???" }}s&nbsp;&nbsp;&nbsp;
              ISO·{{ exif.iso or "???" }}
            </span>
          </div>
        </div>
      </div>
    </article>
  </section>
  <section id="full-screen">
    <a class="close" href="#">↙</a>
    {% image responsive, alt, "100vw" %}
  </section>
</article>