---
layout: index.njk
---
<article class="photo single">
  <h1><span class="small">{{ page.date | shortDate }}&nbsp;&nbsp;</span>&nbsp;pho<br/><span class="small">{{ number | shortNumber }}</span>&nbsp;&nbsp;to</h1>
  <section class="content">
    <article class="photo">
      <div class="button">
        <a>
          {#- calc(100vw - 160px - 8px - 2px - 8px - 180px - 8px - 2px) #}
          {% image responsive, alt, "calc(100vw - 368px)" %}
          <h1>{{ title }}</h1>
          <span class="camera">{{ exif.make | capitalize }} {{ exif.model }}</span><span class="specs">{% if exif.focalLength %}{{ exif.focalLength }}{% else %}?? mm{% endif %}&nbsp;&nbsp;&nbsp;<i>f</i>/{% if exif.fstop %}{{ exif.fstop }}{% else %}??{% endif %}&nbsp;&nbsp;&nbsp;{% if exif.exposure %}{{ exif.exposure }}s{% else %}1/???s{% endif %}&nbsp;&nbsp;&nbsp;ISO·{% if exif.iso %}{{ exif.iso }}{% else %}???{% endif %}</span>
        </a>
      </div>
    </article>
  </section>
</article>