---
layout: index.njk
---
<article class="text">
  <h1><span class="offset">te</span><span>xt</span></h1>
  <h2>
    <span class="offset">{{ page.date | shortDate }}</span>
    <span>{{ number | shortNumber }}</span>
  </h2>
  <section class="content">
    <h1>{{ title }}</h1>
    <span class="stats">;; {{ stats.words}}w; {{ stats.minutes }}'</span>
    <h4><b>KEYWORDS:</b> {% if keywords.length %}{{ keywords | join(", ") }}{% else %}N/A{% endif %}</h4>
    {{ content | safeLinks | betterIndent(4) | safe }}
  </section>
</article>