---
layout: index.njk
title: text
override:tags: []
description: >-
  text longer than 280 characters.
  sometimes fully formed articles. sometimes half-finished ideas.
  things i spoke about in the past, but never expanded on.
  things i had in my mind but never wrote about before.
---
<article class="text-list">
  <h1>te&nbsp;<br/>xt</h1>
  <section class="content">
  {%- for month, texts in collections.textByMonth %}
    <section class="month">
      <h2>{{ month }}</h2>
      <ul>
      {%- for text in texts %}
        <li>
          <span class="number">{{ text.data.number | shortNumber }}</span>
          <article class="text">
            <h3>
              <a href="{{ text.page.url }}">{{ text.data.title }}</a>
              <span class="date-and-stats">;; {{ text.page.date | shortDate }}; {{ text.data.stats.words}}w; {{ text.data.stats.minutes}}'</span>
            </h3>
            <p>{{ text.data.description }}</p>
          </article>
        </li>
      {%- endfor %}
      </ul>
    </section>
  {%- endfor %}
  </section>
</article>