main > article.about > .content p {
  font-size: 1.5em;
}

main > article.about > .content p b {
  color: whitesmoke;
  background-color: black;
  padding: 4px 6px;
  font-weight: normal;
  font-size: 1.1em;
}

main > article.about > .content p u {
  text-decoration-style: wavy;
  text-decoration-color: tomato;
}

main > article.about > .content p .large {
  font-size: 1.2em;
  color: black;
}