@charset "utf-8";

#palette {
  position: fixed;
  top: 130px;
  right: 24px;
}

#palette ul {
  display: flex;
  flex-flow: column wrap-reverse;
  margin: 0;
  padding: 0;
  height: 320px;
}

#palette ul li {
  display: block;
  box-sizing: border-box;
  border: solid black;
  border-width: 2px 2px 0 0;
  width: 32px;
  height: 32px;
  position: relative;
}

#palette ul li::after {
  position: absolute;
  top: 4px;
  right: 72px;
  display: none;
  content: attr(class);
}

#palette ul li:hover::after {
  display: block;
}

#palette ul li.break {
  flex-basis: 100%;
  width: 0;
  border: none;
}

#palette ul li.break ~ li {
  border-left-width: 2px;
}

#palette ul li.break ~ li::after {
  right: 40px;
}

/* IE11 doesn't support :has, so we have a manual fallback */
#palette ul li:has(+ .break), #palette ul li.black {
  border-bottom-width: 2px;
}

#palette ul li:last-of-type {
  border-bottom-width: 2px;
}

.white {
  background-color: white;
}

.whitesmoke {
  background-color: whitesmoke;
}

.gainsboro {
  background-color: gainsboro;
}

.lightgray {
  background-color: lightgray;
}

.silver {
  background-color: silver;
}

.darkgray {
  background-color: darkgray;
}

.gray {
  background-color: gray;
}

.dimgray {
  background-color: dimgray;
}

.black {
  background-color: black;
}

.orange {
  background-color: orange;
}

.darkorange {
  background-color: darkorange;
}

.orangered {
  background-color: orangered;
}

.red {
  background-color: red;
}

.darkred {
  background-color: darkred;
}

.maroon {
  background-color: maroon;
}

.crimson {
  background-color: crimson;
}

.tomato {
  background-color: tomato;
}

.deeppink {
  background-color: deeppink;
}

.hotpink {
  background-color: hotpink;
}