main > article.photo.single > .content {
  height: calc(100vh - 192px);
  min-height: 640px;
}

main > article.photo.list > .content {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

main > article.photo.single > .content > .photo {
  height: 100%;
}

main > article.photo > .content > .photo .button {
  height: 100%;
}

main > article.photo > .content > .photo .button > a {
  display: block;
  position: relative;
  height: 100%;
  color: black;
  background-color: whitesmoke;
  border: 2px solid black;
  box-shadow: 2px 2px black;
  text-decoration: underline;
  text-decoration-color: darkorange;
}

main > article.photo.single > .content > .photo .button > a {
  display: flex;
  flex-flow: column nowrap;
}

main > article.photo.list > .content > .photo .button:hover > a {
  top: -4px;
  left: -4px;
  box-shadow: 6px 6px black;
}

main > article.photo.list > .content > .photo .button > a:focus {
  background-color: orange;
  text-decoration-color: white;
}

main > article.photo.list > .content > .photo .button > a:active {
  text-decoration-color: white;
  background-color: darkorange;
  top: 0;
  left: 0;
  box-shadow: 2px 2px black;
}

main > article.photo > .content > .photo .button > a > img {
  display: block;
  width: 100%;
  border-bottom: 6px double black;
  background-color: whitesmoke;
  object-fit: cover;
}

main > article.photo.single > .content > .photo .button > a > img {
  height: 0;
  min-height: 240px;
  flex-grow: 1;
}

main > article.photo.list > .content > .photo .button > a > img {
  height: 240px;
}

main > article.photo > .content > .photo .button > a > h1 {
  margin: 0 4px 32px;
  font-weight: normal;
}

main > article.photo.single > .content > .photo .button > a > h1 {
  font-weight: bold;
  font-size: 1.2em;
  margin: 4px 4px 48px;
}

main > article.photo.list > .content > .photo .button > a > .number,
main > article.photo.single > .content > .photo .button > a > .camera {
  position: absolute;
  left: 4px;
  bottom: 4px;
  font-weight: bold;
}

main > article.photo.list > .content > .photo .button > a > .date,
main > article.photo.single > .content > .photo .button > a > .specs {
  position: absolute;
  right: 4px;
  bottom: 4px;
}