---
layout: index.njk
title: photo
override:tags: []
---
<article class="photo list">
  <h1>pho<br/>to</h1>
  <section class="content">
  {%- for photo in collections.photo | reverse -%}
    <article class="photo">
      <div class="button">
        <a href="{{ photo.page.url }}">
          <img src="{{ photo.data.imageUrl }}" alt="{{ photo.data.alt }}" />
          <h1>{{ photo.data.title }}</h1>
          <span class="number">{{ photo.data.number | shortNumber }}</span><span class="date">{{ photo.page.date | shortDate }}</span>
        </a>
      </div>
    </article>
  {%- endfor -%}
  </section>
</article>