---
permalink: photo/feed.xml
title: causti • co
subtitle: photo
baseUrl: https://causti.co/
---
{%- set contentCollection = collections.photo | reverse %}
{%- set newestContent = contentCollection | first -%}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ baseUrl }}" xml:lang="en">
	<title>{{ title }}</title>
	<subtitle>{{ subtitle }}</subtitle>
	<link href="{{ baseUrl}}{{ permalink }}" rel="self" />
	<link href="{{ baseUrl }}" />
	<id>{{ baseUrl }}/</id>
	<updated>{{ newestContent.page.date | dateToRfc3339 }}</updated>
  <author>
    <name>Martín Valdés de León</name>
  </author>
  <generator>{{ eleventy.generator }}</generator>
  <icon>{{ baseUrl }}assets/icons/favicon.png</icon>
  <rights>causti • co © 2024 by Martín Valdés de León, is licensed under CC BY-NC-ND 4.0</rights>
  <category term="photo" />
	{%- for content in contentCollection.slice(0, 20) %}
  {%- set contentUrl = baseUrl + content.page.url %}
  <entry>
    <title>{{ content.data.title }}</title>
    <link href="{{ contentUrl }}" />
    <link rel="alternate" type="text/html" href="{{ contentUrl }}" />
    {%- set largest = content.data.responsive | last %}
    <link rel="alternate" type="{{ largest.sourceType }}" href="{{ baseUrl }}{{ largest.url }}" />
    <id>{{ contentUrl }}</id>
    <updated>{{ content.page.date | dateToRfc3339 }}</updated>
    <published>{{ content.page.date | dateToRfc3339 }}</published>
    <summary>{{ content.data.alt }}</summary>
    <content type="html">
      {%- filter htmlToAbsoluteUrls(baseUrl) %}
      {% image content.data.responsive, content.data.alt, "100vw" %}
      {%- endfilter %}
    </content>
  </entry>
  {%- endfor %}
</feed>