---
layout: index.njk
eleventyExcludeFromCollections: true
title: about
---
<article class="about">
  <h1><span class="offset-2">ab</span><span>out</span></h1>
  <h2>
    <span class="offset">updated {{ commit.date | shortDate }}</span>
    <span>commit <a href="https://github.com/causti-co/website/tree/{{ commit.hash }}" target="_blank" rel="noopener noreferrer">{{ commit.shortHash }}</a></span>
  </h2>
  <section class="content">
    <p>
      hey, it's a <u class="large">personal website</u>!
    </p>
    <p>
      because i miss the <span class="large">old internet</span>. because i don't want my <span class="large">thoughts scattered</span> across a variety of <span class="large">3rd party platforms</span> that could go <i>*poof*</i> at any moment. and because i'm still the child of two <span class="large">graphic designers</span>.
    </p>
    <p>
      so what can you <span class="large">expect</span>?
    </p>
    <p>
      <b>text</b> longer than <span class="large">280 characters</span>. sometimes <span class="large">fully formed</span> articles. sometimes <span class="large">half-finished</span> ideas. things i spoke about in <span class="large">the past</span>, but never <span class="large">expanded on</span>. things i had in <span class="large">my mind</span> but never wrote about <span class="large">before</span>. i've a backlog of topics, let's see how <span class="large">it goes</span>.
    </p>
    <p>
      <span class="large">digitally enhanced</span> <b>photography</b>. i've my technique, i've my <span class="large">rules. i shoot</span> for <span class="large">myself</span>, and share what <span class="large">i like</span>.
    </p>
    <p>
      <span class="large">generative</span> <b>graphics</b>, code <span class="large">included</span>. maybe you'll catch me at a <span class="large">demoparty</span> sooner or <span class="large">later</span>.
    </p>
    <p>
      i'd like to <span class="large">make music</span> some day, but for the moment <span class="large">i'm calling it</span> <b>sound</b>. it's <span class="large">not good</span>, but i promise it will get <span class="large">better</span>.
    </p>
    <p>
      <b>recommendations</b>. things that i <span class="large">just like</span>. things that i <span class="large">think</span> are good. things that <span class="large">i'd like</span> others <span class="large">to know about</span>.
    </p>
  </section>
</article>