@use "settings" as *;

main > article.about > .content {
  font-size: 1.5rem;
}

main > article.about > .content p {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  b {
    padding: 0.20em;
    color: $gray-05;
    background-color: $black;
    font-weight: normal;
    font-size: 1.1em;
  }

  u {
    text-decoration: underline wavy $accent-dark;
  }

  .large {
    font-size: 1.2em;
  }
}

@media (width <= 800px) {
  main > article.about > .content {
    font-size: 1.25rem;
  }
}