@use "sass:math";
@use "git";
@use "settings" as *;

footer nav {
  position: absolute;
  bottom: 100%;
  right: 0;
  background-color: $gray-15;
  @include border();
  border-bottom-width: 0;
  font-size: 1.5rem;

  > ul {
    margin: 0;
    padding: $default-padding-size;
    list-style: none;

    > li {
      padding: 0;
      margin-bottom: $default-padding-size;

      &:last-child {
        margin-bottom: 0;
      }

      .button {
        > a {
          display: block;
          position: relative;
          padding: 0.1em $default-padding-size 0.1em (2 * $default-padding-size);
          background-color: $gray-05;
          @include border(1px);
          @include box-shadow();
          text-align: right;

          &:focus {
            color: $white;
            background-color: $gray-30;
            text-decoration-color: $accent-dark;
          }
        }

        > a:active, &:hover > a:active {
          top: 0;
          left: 0;
          color: $white;
          background-color: $gray-50;
          @include box-shadow();
          text-decoration-color: $accent-dark;
        }

        &:hover > a {
          top: -2 * $default-box-shadow-size;
          left: -2 * $default-box-shadow-size;
          @include box-shadow(3 * $default-box-shadow-size);
        }

        &.here > a {
          top: $default-box-shadow-size;
          left: $default-box-shadow-size;
          color: $white;
          background-color: $gray-50;
          @include box-shadow(-1 * $default-box-shadow-size);
        }

        &.here:hover > a {
          top: 3 * $default-box-shadow-size;
          left: 3 * $default-box-shadow-size;
          @include box-shadow(-3 * $default-box-shadow-size);
        }
      }
    }
  }
}

footer > .content {
  padding: 4px;
  margin-bottom: $main-margin-size;
  @include border();
  background-color: $gray-05;
  font-size: 0.75rem;
  text-align: center;
  
  p {
    margin: 0;
  }

  .cc .icon {
    width: auto;
    height: 1rem;
    margin-left: 0.5em;
    vertical-align: bottom;

    &:first-of-type {
      margin-left: 1em;
    }
  }
}

@media (width <= 800px) {
  footer nav {
    position: fixed;
    bottom: 5rem;
    left: calc(100vw - 44px);
    background-color: transparent;
    border: none;
    font-size: 1rem;

    > ul {
      display: flex;
      flex-flow: row-reverse nowrap;
      gap: math.div($default-padding-size, 2);
      writing-mode: vertical-rl;
      transform: rotate(-180deg);
      padding: 0;

      > li {
        margin-bottom: 0;

        .button {
          > a {
            padding: {
              left: 2px;
              right: 0;
            }
            @include border();
            @include box-shadow(-1 * $default-box-shadow-size);
          }

          > a:active, &:hover > a:active {
            @include box-shadow(-1 * $default-box-shadow-size);
          }

          &:hover > a {
            top: 2 * $default-box-shadow-size;
            left: 2 * $default-box-shadow-size;
            @include box-shadow(-3 * $default-box-shadow-size);
          }

          &.here > a {
            top: -1 * $default-box-shadow-size;
            left: -1 * $default-box-shadow-size;
            @include box-shadow($default-box-shadow-size);
          }

          &.here:hover > a {
            top: -3 * $default-box-shadow-size;
            left: -3 * $default-box-shadow-size;
            @include box-shadow(3 * $default-box-shadow-size);
          }
        }
      }
    }
  }

  footer > .content {
    margin-bottom: 0;
    border: none;
  }
}

// @supports (-webkit-touch-callout: none) {
//   footer nav {
//     right: 24px;
//   }
// }