@use "sass:math";
@use "settings" as *;

// Module Dimensions
$git-button-size: 32px;
$git-image-size: 24px;

footer > #git {
  position: absolute;
  bottom: calc(100% + $main-margin-size + $default-border-width);
  left: $main-margin-size + $default-border-width;
  height: $git-button-size;
  width: $git-button-size;
  background-color: $gray-05;
  @include border();
  @include box-shadow();
  box-sizing: border-box;
  opacity: 0.4;

  &:target {
    width: calc(100vw - 52px);
    max-width: 800px;
    height: auto;
    opacity: 1;
    z-index: 1;

    .open {
      display: none;
    }

    .close, .content {
      display: block;
    }
  }

  &:hover, &:has(.open:focus) {
    opacity: 1;
  }

  .open, .close {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: $git-button-size - 2 * $default-border-width;
    height: $git-button-size - 2 * $default-border-width;
    box-sizing: border-box;

    > img {
      display: block;
      width: $git-image-size;
      height: $git-image-size;
      padding: {
        top: math.div($git-button-size - 2 * $default-border-width - $git-image-size, 2);
        left: math.div($git-button-size - 2 * $default-border-width - $git-image-size, 2);
      }
    }
  }

  .open {
    > img {
      &.selected {
        display: none;
      }
    }

    &:focus {
      > img {
        display: none;

        &.selected {
          display: block;
        }
      }
    }
  }

  .close, .content {
    display: none;
  }

  .close {
    height: $git-button-size - 2 * $default-border-width + 1px;
    width: $git-button-size - 2 * $default-border-width + 1px;
    background-color: $accent-dark;
    @include border($width: 1px);
    border: {
      bottom-width: 0;
      left-width: 0;
    }
  }

  .content {
    padding: 0 {
      left: $git-button-size + 8px;
    }
    min-height: 100px;
    max-height: 240px;
    box-sizing: border-box;
    overflow-y: auto;

    > .actions {
      position: absolute;
      left: 0;
      bottom: $git-button-size - 2 * $default-border-width + 1px;
      width: $git-button-size - 2 * $default-border-width + 1px;

      > a {
        display: block;
        height: $git-button-size - 2 * $default-border-width + 1px;
        background-color: $gray-05;
        @include border($width: 1px);
        border: {
          bottom-width: 0;
          left-width: 0;
        }
        box-sizing: border-box;
        text-decoration: none;
        text-align: center;
        font-size: 24px;
        line-height: 26px;

        &:hover, &:focus {
          color: $white;
          background-color: $accent-dark;
        }
      }
    }

    table {
      margin: 0 auto;
      width: 100%;
      background-color: $gray-20;
      border-collapse: collapse;
      @include border();
      border: {
        top-width: 0;
        bottom-width: 0;
        right-width: 0;
      }

      // Related to .container max-height. Once we exceed it, show the border.
      &:has(tbody tr:nth-child(8)) {
        border-right-width: $default-border-width;
      }

      // Related to .container min-height. Once we exceed it, hide the border.
      &:has(tbody tr:nth-child(3)) {
        tbody tr:last-child td {
          border-bottom-width: 0;
        }
      }

      thead th,
      tbody td {
        padding: 4px 8px;
      }

      thead th {
        background-color: $gray-10;
        @include border();
        border: {
          top-width: 0;
          left-width: 0;
        }

        &:last-child {
          border-right-width: 0;
        }
      }

      tbody td {
        @include border();
        border: {
          top-width: 0;
          left-width: 0;
          bottom-style: dashed;
        }

        &:nth-child(2) {
          word-break: break-word;
        }

        &[colspan="3"] {
          text-align: center;
        }

        &:last-child {
          border-right-width: 0;
        }
      }

      tbody tr:last-child td {
        border-bottom-style: solid;
      }
    }
  }
}