@use "sass:math";
@use "settings" as *;

// Module Dimensions
$extra-link-padding: 4px;
$action-button-size: 20px;
$action-image-size: 16px;

header {
  padding: $default-padding-size;
  font-size: 4rem;

  h1 {
    display: inline;
    margin: 0 {
      // Offset the header to keep alignment
      left: -$extra-link-padding;
    }
    font-size: 1em;

    text-transform: uppercase;

    a {
      // We want to add this to make the link area a bit larger than just the text
      padding: 0 $extra-link-padding;
      text-decoration: none;

      &:focus {
        background-color: inherit;
      }
    }

    .dot {
      width: auto;
      height: 0.375em;
      margin-top: -0.15em;
      vertical-align: middle;
      animation: rotation 4s infinite reverse linear;
      cursor: help;
    }
  }

  > .actions {
    position: absolute;
    top: math.div($main-margin-size, 4);
    right: $main-margin-size + $default-border-width + $default-padding-size;
    @include border();
    @include box-shadow();
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;

    > .feed {
      display: block;
      width: $action-button-size;
      height: $action-button-size;
      background-color: $white;

      &:hover {
        background-color: $accent-dark;
      }

      img {
        padding-top: math.div($action-button-size - $action-image-size, 2);
        width: $action-image-size;
        height: $action-image-size;
      }
    }
  }

  > #egg {
    display: none;

    &:target {
      display: block;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (width <= 800px) {
  header {
    font-size: 2rem;
    padding: 8px;
  }
}

@media (width <= 400px) {
  header {
    font-size: 1rem;
    padding: 4px;
  }
}