@use "settings" as *;

// Module Dimensions
$extra-link-padding: 4px;

header {
  padding: $default-padding-size;

  h1 {
    display: inline;
    margin: 0 {
      // Offset the header to keep alignment
      left: -$extra-link-padding;
    }
    font-size: 4em;
    text-transform: uppercase;

    a {
      padding: 0 $extra-link-padding;
      text-decoration: none;

      &:focus {
        background-color: inherit;
      }
    }

    .dot {
      height: 24px;
      margin-top: -10px;
      vertical-align: middle;
      animation: rotation 4s infinite reverse linear;
      cursor: help;
    }
  }

  > .actions {
    position: absolute;
    top: $main-margin-size / 4;
    right: $main-margin-size + $default-border-width + $default-box-shadow-size + $default-padding-size;
    @include border();
    @include box-shadow();
    box-sizing: border-box;
    text-align: center;

    > .feed {
      display: block;
      width: 20px;
      height: 20px;
      background-color: $white;

      &:hover {
        background-color: $accent-dark;
      }

      img {
        padding-top: 2px;
        width: 16px;
        height: 16px;
      }
    }
  }

  > #egg {
    display: none;

    &:target {
      display: block;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}