@use "settings" as *;

:link, :visited {
  color: inherit;
  text-decoration-color: $accent-dark;
}

:focus {
  color: inherit;
  background-color: $accent-dark;
  text-decoration-color: $white;
  outline: none;
}