@use "settings" as *;

// Module Dimensions
$card-width: 240px;
$full-screen-button-size: 32px;

main > article.photo-list {
  padding-bottom: $default-padding-size;
}

main > article.photo-list,
main > article.photo {
  > .content > .photo .card {
    height: 100%;

    > .card-content {
      display: flex;
      flex-flow: column nowrap;
      position: relative;
      height: 100%;
      background-color: $gray-05;
      @include border();
      @include box-shadow();
      box-sizing: border-box;
      text-decoration: none;

      > img {
        display: block;
        width: 100%;
        background-color: $gray-05;
        object-fit: cover;
        flex: {
          shrink: 0;
          basis: auto;
        }
      }

      > h3 {
        margin: 0;
        padding: 0 4px;
        border-top: (3 * $default-border-width) double $default-border-color;
        flex-shrink: 0;
        text-decoration: underline $accent-dark;
      }

      > .details {
        flex: 0 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-top: $default-padding-size;
        padding: 0 4px 4px;

        .number, .camera {
          font-weight: bold;
        }
      }
    }
  }
}

main > article.photo-list > .content {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax($card-width, 1fr));

  > .photo .card {
    > .card-content {
      > img {
        height: $card-width;
        flex-grow: 0;
      }

      > h3 {
        flex-grow: 1;
      }

      &:focus {
        background-color: $accent-light;

        > h3 {
          text-decoration-color: $white;
        }
      }
    }

    > .card-content:active, &:hover > .card-content:active {
      top: 0;
      left: 0;
      background-color: $accent-dark;
      @include box-shadow();
    }

    &:hover > .card-content {
      top: -2 * $default-box-shadow-size;
      left: -2 * $default-box-shadow-size;
      @include box-shadow(3 * $default-box-shadow-size);
    }
  }
}

main > article.photo > .content {
  height: $content-height;
  min-height: 640px;

  > .photo {
    height: 100%;

    .card > .card-content {
      display: flex;
      position: relative;
      flex-flow: column nowrap;

      > .full-screen {
        position: absolute;
        top: 4px;
        right: 6px;
        height: $full-screen-button-size;
        width: $full-screen-button-size;
        padding-left: 2px;
        @include border(1px);
        @include box-shadow();
        box-sizing: border-box;
        background-color: $accent-dark;
        font-size: $full-screen-button-size;
        font-weight: bold;
        line-height: 26px;
        text-align: center;
        text-decoration: none;
        opacity: 0.4;

        &:hover, &:focus {
          color: $gray-05;
          opacity: 1;
        }
      }

      img {
        height: 0;
        min-height: $card-width;
        background-color: $gray-60;
        object-fit: contain;
        flex-grow: 1;
      }
      
      h3 {
        padding-top: 4px;
        font-size: 1.5rem;
        text-decoration: underline $accent-dark;
        flex-grow: 0;
      }

      p {
        margin: 4px 4px 0;
        flex-grow: 0;
      }
    }
  }
}

main > article.photo > #full-screen {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  &:target {
    display: block;
  }

  > .close {
    position: fixed;
    top: 8px;
    right: 8px;
    height: $full-screen-button-size;
    width: $full-screen-button-size;
    background-color: $accent-dark;
    @include border(1px);
    @include box-shadow($color: $gray-05);
    box-sizing: border-box;
    font-size: $full-screen-button-size;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    opacity: 0.4;

    &:hover, &:focus {
      color: $gray-05;
      opacity: 1;
    }
  }

  > img {
    display: block;
    height: 100%;
    width: 100%;
    background-color: $gray-90;
    object-fit: contain;
  }
}