@use "settings" as *;

main > article.photo-list {
  padding-bottom: $default-padding-size;
}

main > article.photo-list,
main > article.photo {
  > .content > .photo .card {
    height: 100%;

    > .card-content {
      display: block;
      position: relative;
      height: 100%;
      background-color: $gray-05;
      @include border();
      @include box-shadow();
      box-sizing: border-box;
      padding-bottom: 42px;

      > img {
        display: block;
        width: 100%;
        background-color: $gray-05;
        object-fit: cover;
      }

      > h3 {
        margin: 0;
        padding: 0 4px;
        border-top: (3 * $default-border-width) double $default-border-color;
      }

      .number, .camera {
        position: absolute;
        left: 4px;
        bottom: 4px;
        font-weight: bold;
      }

      .date, .specs {
        position: absolute;
        right: 4px;
        bottom: 4px;
      }
    }
  }
}

main > article.photo-list > .content {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

  > .photo .card {
    > a:focus {
      background-color: $accent-light;
    }

    > a:active, &:hover > a:active {
      top: 0;
      left: 0;
      background-color: $accent-dark;
      @include box-shadow();
    }

    > a > img {
      height: 240px;
    }

    &:hover > a {
      top: -2 * $default-box-shadow-size;
      left: -2 * $default-box-shadow-size;
      @include box-shadow(3 * $default-box-shadow-size);
    }
  }
}

main > article.photo > .content {
  height: $content-height;
  min-height: 640px;

  > .photo {
    height: 100%;

    .card > .card-content {
      display: flex;
      position: relative;
      flex-flow: column nowrap;
      // Hide overflow until we have a small screen design
      overflow: hidden;

      > .full-screen {
        position: absolute;
        top: 2px;
        right: 4px;
        height: 32px;
        width: 32px;
        padding-left: 2px;
        @include border(1px);
        @include box-shadow();
        box-sizing: border-box;
        background-color: $accent-dark;
        font-size: 2em;
        font-weight: bold;
        line-height: 26px;
        text-align: center;
        text-decoration: none;
        opacity: 0.4;

        &:hover, &:focus {
          color: $gray-05;
          opacity: 1;
        }
      }

      img {
        height: 0;
        min-height: 240px;
        flex-grow: 1;
        background-color: $gray-60;
        object-fit: contain;
      }
      
      h3 {
        padding-top: 4px;
        font-size: 1.5em;
        text-decoration: underline;
        text-decoration-color: $accent-dark;
      }

      p {
        margin: 4px 4px 0;
      }
    }
  }
}

main > article.photo > #full-screen {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  &:target {
    display: block;
  }

  > .close {
    position: fixed;
    top: 8px;
    right: 8px;
    height: 32px;
    width: 32px;
    background-color: $accent-dark;
    @include border(1px);
    @include box-shadow($color: $gray-05);
    box-sizing: border-box;
    font-size: 2em;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    opacity: 0.4;

    &:hover, &:focus {
      color: $gray-05;
      opacity: 1;
    }
  }

  > img {
    display: block;
    height: 100%;
    width: 100%;
    background-color: $gray-90;
    object-fit: contain;
  }
}