@use "settings" as *;

main > article.recs.list > .content .month {
  > h2 {
    margin-bottom: 8px;
  }
  
  > ul {
    padding: 0;
    margin: 0;
    list-style: none;

    > li {
      display: flex;
      margin-bottom: 4px;
      flex-flow: row nowrap;
      align-items: baseline;
      font-size: 1.2em;

      > .number {
        margin-right: 8px;
        font-size: 0.75em;
        font-weight: bold;
      }

      > .rec {
        h3 {
          margin: 0 {
            bottom: 4px;
          }
          
          .date {
            color: $gray-70;
            font-size: 0.7em;
          }
        }
  
        img {
          max-width: 160px;
          max-height: 160px;
          margin: 4px 16px 8px 0;
          float: left;
          @include border();
          @include box-shadow($color: $accent-secondary);
        }
  
        p {
          margin: 0 {
            bottom: 16px;
          }
          line-height: 1.5em;
  
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}