@use "sass:math";
@use "settings" as *;

// Module Dimensions
$image-max-size: 240px;

main > article.recs-list > .content {
  font-size: 1.2rem;
}

main > article.recs-list > .content .month {
  > h2 {
    margin-bottom: 8px;
    font-size: 1.25em;
  }

  &:first-child {
    > h2 {
      margin-top: 0;
    }
  }
  
  > ul {
    padding: 0;
    margin: 0;
    list-style: none;

    > li {
      display: flex;
      margin-bottom: 16px;
      flex-flow: row nowrap;
      align-items: baseline;

      &:last-child {
        margin-bottom: 0;
      }

      > .number {
        margin-right: 8px;
        font-size: 0.75em;
        font-weight: bold;
      }

      > .rec {
        flex-grow: 1;

        h3 {
          margin: 0 {
            bottom: 4px;
          }
          
          .date {
            color: $gray-70;
            font-size: 0.7em;
          }
        }
  
        img {
          width: auto;
          height: auto;
          max-width: $image-max-size;
          max-height: $image-max-size;
          margin: 4px 16px 8px 0;
          float: left;
          @include border();
          @include box-shadow($color: $accent-secondary);
        }
  
        p {
          margin: 0 {
            bottom: 16px;
          }
          line-height: 1.5em;
  
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media (width <= 800px) {
  main > article.recs-list > .content .month {
    > ul > li {
      flex-direction: column;

      .rec {
        h3 .date {
          display: block;
        }

        img {
          display: block;
          float: none;
          margin: math.div($default-padding-size, 2) auto;
        }
      }
    }
  }
}