@use "settings" as *;

main > article.text.list > .content .month {
  > h2 {
    margin-bottom: 8px;
  }

  > ul {
    padding: 0;
    margin: 0;
    list-style: none;

    > li {
      display: flex;
      margin-bottom: 4px;
      flex-flow: row nowrap;
      align-items: baseline;
      font-size: 1.2em;

      .number {
        margin-right: 8px;
        font-size: 0.75em;
        font-weight: bold;
      }

      a {
        color: $black;
        text-decoration: underline;
        text-decoration-color: $accent-dark;

        &:focus {
          text-decoration-color: $white;
        }
      }
    }
  }
}

main > article.text.single > .content {
  h1 {
    margin: 0 {
      bottom: 8px;
    }
    font-size: 3em;
    text-decoration: underline;
    text-decoration-color: $accent-dark;
  }

  h4 {
    margin-top: 0;
    color: $gray-60;
  }

  h2 {
    display: inline-block;
    margin: 0;
    padding: 0 4px;
    background-color: $gray-10;
    @include border();
    @include box-shadow();
    box-sizing: border-box;
    font-size: 2em;
  }

  pre, code {
    font-family: inherit;
  }

  p {
    font-size: 1.2em;
    line-height: 1.5em;

    code {
      color: $gray-10;
      background-color: $gray-40;
      padding: 0 2px;
      @include box-shadow($color: $gray-80);
      text-shadow: 1px 1px $gray-80;
    }
  }

  pre.shiki {
    padding: 8px;
    // margin-bottom needs a little push to visually accomodate for the box-shadow
    margin-bottom: calc(1em + 2 * $default-box-shadow-size);
    font-size: 1em;
    line-height: 1.5em;
    overflow-x: auto;
    @include border();
    @include box-shadow($size: 2 * $default-box-shadow-size, $color: $accent-secondary);

    &.tree {
      line-height: 1.2em;
    }
  }

  table {
    margin: 0 auto;
    background-color: $gray-20;
    table-layout: fixed;
    border-collapse: collapse;
    @include border();
    @include box-shadow($size: 2 * $default-box-shadow-size);

    thead th,
    tbody td {
      padding: 4px 8px;
    }

    thead th {
      background-color: $gray-10;
      @include border();
      border: {
        top-width: 0;
        left-width: 0;
      }
    }

    tbody td {
      @include border();
      border: {
        top-width: 0;
        left-width: 0;
        bottom-style: dashed;
      }
    }
  }
}