@use "fonts";
@use "header";
@use "footer";
@use "sass:math";
@use "_settings" as *;

// Module Colors
$margin-color: $white;
$header-background-color: $white;
$main-background-color: $white;


:link, :visited {
  color: inherit;
  text-decoration-color: $black;
}

:focus {
  color: $white;
  background-color: $black;
  text-decoration-color: $white;
  outline: none;
}

html {
  padding: $main-margin-size;
  box-sizing: border-box;
  font-family: "Berkeley Mono", monospace;
  font-size: 16px;
  background-color: $white;
  color: $black;
}

body {
  margin: 0;
  min-height: calc(100vh - 2 * $main-margin-size);
  @include border($color: $black);
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  background-color: $main-background-color;
  overscroll-behavior: none;
}

header {
  background-color: $header-background-color;
  font-size: 1rem;
  padding: math.div($default-padding-size, 4);

  h1 .dot {
    cursor: pointer;
  }
}

main {
  position: relative;
  padding: 0;
  @include border($color: $black);
  border: {
    left-width: 0;
    right-width: 0;
  }
  flex-grow: 1;

  display: flex;
  flex-flow: column nowrap;

  > article {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;

    > section {
      position: relative;
      padding: 0 16px;

      &#gibbs-input {
        > .settings {
          display: grid;
          grid-template-columns: 1fr 1fr;

          input, button {
            font-family: inherit;
          }

          button {
            display: inline-block;
            grid-column: 2;
            margin: 0 {
              top: 16px;
            }
            font-size: 16px;
            background-color: $white;
            color: $black;
            @include border($color: $black);
            @include box-shadow($color: $black);
            cursor: pointer;
    
            &:focus {
              background-color: $black;
              color: $white;
            }

            &[disabled] {
              opacity: 0.3;
              cursor: default;
            }
          }
        }
      }

      &#gibbs-output {
        padding: 16px;
        flex-grow: 1;
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: $main-margin-size;
  width: calc(100% - 2 * $main-margin-size);
  background-color: $margin-color;

  > .content {
    border-color: $black;
    background-color: $white;

    > .cc {
      a {
        .icons {
          display: inline;
        }

        .alt-icons {
          display: none;
        }
      }

      a:focus {
        .icons {
          display: none;
        }

        .alt-icons {
          display: inline;
        }
      }
    }
  }
}

@media (width <= 800px) {
  footer {
    position: relative;
    width: auto;
    left: 0;
  }
}

@media (width <= 400px) {
  
}