@use "fonts";
@use "links";
@use "header";
@use "footer";
@use "home";
@use "text";
@use "photo";
@use "recs";
@use "about";
@use "palette";
@use "_settings" as *;

// Module Colors
$margin-color: $gray-10;
$header-background-color: $gray-25;
$main-background-color: $gray-25;
// Module Dimensions
$article-spacing-left: 160px;
$article-spacing-right: 180px;

html {
  padding: $main-margin-size;
  box-sizing: border-box;
  font-family: "Berkeley Mono", monospace;
  background-color: $margin-color;
  color: $black;
}

body {
  margin: 0;
  min-height: calc(100vh - 2 * $main-margin-size);
  @include border;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  background-color: $main-background-color;
  overscroll-behavior: none;
}

header {
  height: $header-height;
  background-color: $header-background-color;
}

main {
  position: relative;
  padding: $default-padding-size $article-spacing-right 32px 0;
  @include border;
  border: {
    left-width: 0;
    right-width: 0;
  }
  flex-grow: 1;

  > article {
    padding-left: $article-spacing-left;

    > h1 {
      position: absolute;
      left: 8px;
      margin: 0 {
        top: 8px;
      }
      font-size: 4em;
      line-height: 1em;
      text-align: right;
      writing-mode: vertical-rl;
      transform: rotate(-180deg);

      .small {
        position: relative;
        left: 8px;
        display: inline-block;
        font-size: 0.5em;
        line-height: 0.5em;
        vertical-align: bottom;

        &.smaller {
          font-size: 0.3em;
        }
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: $main-margin-size;
  width: calc(100% - 2 * $main-margin-size);
  background-color: $margin-color;
}