@use "fonts";
@use "links";
@use "header";
@use "footer";
@use "home";
@use "text";
@use "photo";
@use "recs";
@use "about";
@use "palette";
@use "_settings" as *;

// Module Colors
$margin-color: $gray-10;
$header-background-color: $gray-25;
$main-background-color: $gray-25;
// Module Dimensions
$article-spacing-left: 160px;
$article-spacing-right: 180px;

html {
  padding: $main-margin-size;
  box-sizing: border-box;
  font-family: "Berkeley Mono", monospace;
  font-size: 16px;
  background-color: $margin-color;
  color: $black;
}

body {
  margin: 0;
  min-height: calc(100vh - 2 * $main-margin-size);
  @include border;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  background-color: $main-background-color;
  overscroll-behavior: none;
}

header {
  background-color: $header-background-color;
}

main {
  position: relative;
  padding: $default-padding-size $article-spacing-right 32px 0;
  @include border;
  border: {
    left-width: 0;
    right-width: 0;
  }
  flex-grow: 1;

  > article {
    position: relative;
    font-size: 4rem;
    padding-left: 2.5em;

    > h1 {
      position: absolute;
      left: $main-margin-size;
      top: 2 * $default-padding-size;
      margin: 0;
      font-size: 1em;
      line-height: 1em;
      text-align: right;
      writing-mode: vertical-rl;
      transform: rotate(-180deg);

      > span {
        display: block;

        &.offset {
          margin-bottom: 0.6em;
        }

        &.offset-2 {
          margin-bottom: 1.2em;
        }
      }
    }

    > h2 {
      position: absolute;
      left: $main-margin-size;
      top: calc(2 * $default-padding-size + 2.4em);
      margin: 0;
      font-size: 1em;
      line-height: 1em;
      text-align: right;
      writing-mode: vertical-rl;
      transform: rotate(-180deg);

      > span {
        display: block;
        position: relative;
        left: -0.4em;
        font-size: 0.5em;

        &.offset {
          margin-bottom: 1.2em;
        }
      }
    }

    > .content {
      font-size: 1rem;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: $main-margin-size;
  width: calc(100% - 2 * $main-margin-size);
  background-color: $margin-color;
}

@media (width <= 800px) {
  main {
    padding: {
      right: 24px;
      bottom: 16px;
    }

    > article {
      font-size: 3rem;
      padding-left: 16px;

      > h1 {
        font-size: 13px;
        background: $white;
        @include border();
        @include box-shadow(-2px);
        top: 0;
        left: -8px;
        padding: 4px 0;

        > span {
          display: inline-block;

          &.offset, &.offset-2 {
            margin-bottom: 0;
          }
        }
      }

      > h2 {
        font-size: 13px;
        background: $white;
        @include border();
        @include box-shadow(-2px);
        left: -8px;
        padding: 4px 0;

        > span {
          display: inline-block;
          position: static;
          font-size: 1em;

          &.offset {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  footer {
    position: relative;
    width: auto;
    left: 0;
  }
}

@media (width <= 400px) {
  main {
    > article {
      font-size: 2rem;
    }
  }
}